@model IEnumerable<MVCTestApp.Models.CommunityService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceMaximum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLifetimeMaximum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceMaximum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceLifetimeMaximum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceKey })
        </td>
    </tr>
}

</table>
